*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}


.slides{
 width: 100%;
 height: 80vh;
 display: flex;
 align-items: center;
 justify-content: center;
 gap:50px;
 color: #fff;
 background: linear-gradient(90deg, grey, black);
 
}

/* SLIDE 1 */



/*HEADER */
.slides1st h1{ 
	font-size: 60px;
	color: #FF7F27;
	}

/*PARAGRAPH*/
.slides1st #f01{
	margin-top: 30px;
	line-height: 1.5;
	width: 400px;
	height: 300px;
	border-color: transparent;
}
.slides1st #f01 p{ 
	font-size: 27px;
}

/*BUTTON*/

.slides1st #f01 input{
	display: inline-block;

	border: none;
	background-color: orange;
	border-radius: 50px;
  	color: white;
  	padding: 16px 32px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	margin: 20px 0px;
 	transition-duration: 0.4s;
 	cursor: pointer;
	transition: 0.3s;
}

.slides1st #f01 input:hover {
	background-color: red;
}

.slides .pic1{ width: 600px;
		mix-blend-mode: multiply;
		}

/*SLIDE 2*/
/*HEADER*/

.slides2nd h1{ 
	font-size: 45px;
	color: #FF7F27;
	width: 400px;
	}
/*PARAGRAPH 2*/
.slides2nd #f02{
	width:400px;
	height:300px;
	border-color: transparent;
	

}

.slides2nd #f02 p{
	margin-top: 40px;
	font-size: 25px;
	line-height: 1.5;
}

.slides2nd #f02 input{
	display: inline-block;

	border: none;
	background-color: orange;
	border-radius: 50px;
  	color: white;
  	padding: 16px 32px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	margin-top: 40px;
 	transition-duration: 0.4s;
 	cursor: pointer;
	transition: 0.3s;
}

.slides2nd #f02 input:hover {
	background-color: red;
}

.slides img{
 width: 600px;
 
}

