*{
 margin: 0;
padding: 0;
box-sizing: border-box;
}


.container22 {
	width: 100%;
	height: 80%;
	background: white;
	display: flex;
	align-items:center;
	justify-content: center;
	
}

.swiper{
	width:100%;
	height:100%;
}

.swiper-wrapper img{
	width:100%;
	height: 100%;
	object-fit:cover;
	
	object-position: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: orange;
}




.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
	color: white;
}


.swiper .swiper-pagination-bullet-active{
	background: Orange;
}

