body{
margin:0;
background: #222;
font-family: arial;
font-weight: 300;
}

.container{
width: 90%;
margin: 0auto;
}

.mainb{
   width: 1120px;
   margin:100px auto;
}

.Menu_title{
 text-align: center;
 margin-bottom: 100px;
 font-family:arial;
 color:white;
 
}

.Menu_title h1{
  font-size:37px;
  text-transform:capitalize;
  position:relative;
  display:inline-block;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.Menu{
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
}

.Menu_column{
   width:30%;
}

.Menu_column h4:: before {
   content: '';
   position:absolute;
   height:2px;
   width: 40px;
   bottom: 0;
}
   

.Menu_column h4{
  font-size:25px;
  text-transform:capitalize;
  font-weight:600;
  margin-bottom:20px;
  position:relative;
  font-family: arial;
  color: white;
  padding-bottom: 15px;
}

.Food_menu{
 display: flex;
 align-items: center;
 margin-top: 50px;
}

.Food_menu img{
   border_radius: 70%;
   max-width: 120px;
   padding: 4px;
   margin-right: 17px;
}

.Food_menu .menu_content h5{
  font-size: 18px;
  font-weight: 200px;
  padding-bottom: 15px;
  margin-bottom: 100px;
  text-transform: capitalize;
  font-family: arial;
  color: white;
  
}

.Food_menu .menu_content h5 span{
  color: red;
  float: right;
  font-weight:700;
  font-style: italic;
}
  
  


header{
background: #FF7F27;
}

header::after{
content: '';
display: table;
clear: both;
}

.logo {
margin-left: 20px;
float: left;
height: 80px;
width: 200px;
padding: 10px 0;
}

.popcorn{
height: 100;
width: 400;
}

.hotdog{
height:100;
width:200;
}

.pretzel{
height:100;
width:200;
}


.drink{
height:100;
width:200;
}

.icee{
height:100;
width:200;
}

.bdrink{
height:100;
width:200;
}

.candy{
height:100;
width:200;
}

.icecream{
height:100;
width:200;
}

.churros{
height:100;
width:200;
}

nav{
float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;

}

nav li{
display: inline-block;
margin-left: 30px;
padding-top: 25px;

position: relative;
}

nav a {
 color: #444;
 text-decoration: none;
 font-size: 14px;
}

nav a:hover{
 color: white;
}

nav a::before {
 content: '';
 display: block;
 height: 5px;
 width: 100%;
 background-color: #444;

 position: absolute;
 top: 0;
 width: 0%;

 transition: all ease-in-out 250ms;
}

nav a:hover::before{
width: 100%;
}

