body {
background-color: #222;
min-height: 100%;
height: 100%;
color: white;
text-align: center;
}


.chart {
display: inline-block;
border: 3px solid white;
background-color: #333333;
width: 800px;
height: 300px;
}


.grid-seat {
display: grid;
grid-template-columns: auto auto auto auto auto;
grid-gap: 20px;
margin: 15px;
padding-top: 25px;
}


.seat {
background-color: #333333;
font-size: 16px;
text-align: center;
border: 3px solid white;
color: white;
border-radius: 12px;
transition-duration: 0.4s;
}


.seat:hover {
background-color: #FF7F27;
font-size: 16px;
text-align: center;
border: 3px solid white;
color: white;
border-radius: 12px;
}


#screen {
border: 2px solid gray;
background-color: gray;
height: 40px;
font-size: 20px;
width: 80%;
display: inline-block;
line-height: 40px;
text-align: center;
}

footer {
text-align:center;
color:white;
padding:10px;
background-color:#141414;
}
